* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* header */

/* flex for the nav block */
header  {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(161, 209, 226);
  height: 80px;
}

/* dimension all nav block */
.nav-block {
  flex-basis: 70%;
  height: 40px;
  display: flex;
  border: 2px dashed black;
  background-color: rgb(169, 129, 31);
}

/* logo block in the nav block */
.logo-header {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 2px dashed black;
}

/* link block in the nav block */
.link-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  border: 2px dashed black;
}

/* login block in the nav block */
.login-header {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 2px dashed black;
}

/* display inline list of link */
.link-header ul li{
  display: inline-block;
}


/* title and img section */
.head-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(6, 6, 118);
  height: 500px;
}

/* block title and img */
.title-description {
  width: 60%;
  height: 450px;
  background-color: rgb(167, 96, 167);
  border: 2px dashed black;
}

/* background for container main contents */
.main-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

/* block container for img and text*/
.main-contents {
  display: flex;
  width: 70%;
  height: 450px;
  border: 2px dashed black;
}

/* block for img */
.img-content-img {
  width: 60%;
  height: 100%;
  background-color: rgb(30, 144, 255);
  border: 2px dashed black;
}

/* block for text */
.text-main-content {
  width: 40%;
  height: 100%;
  background-color: rgb(255, 192, 203);
  border: 2px dashed black;
}

/* for dsplay reverse img and text block */
.main-contents.reverse {
  display: flex;
  flex-direction: row-reverse;
  width: 70%;
  height: 450px;
}

.background-change {
  background-color: rgb(211, 211, 211);
}

/* section 4  */
.big-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
}

.big-contents {
  width: 70%;
  height: 700px;
  background-color: rgb(34, 139, 34);
  border: 2px dashed black;
}
/* /section 4  */

footer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  background-color:rgb(33, 36, 39);
  height: 650px;
}


.footer-row {
  display: flex;
  width: 70%;
  height: 500px;
  background-color: bisque;
}

.big-col {
  width: 32%;
  height: 100%;
  background-color: rgb(240, 128, 128);
  border: 2px dashed black;
  flex-shrink: 0;
}

.footer-col {
  width: calc(100% / 4);
  height: 100%;
  background-color:rgb(32, 178, 170);
  border: 2px dashed white;
}